@include mobile {
  .banner {
    &__search {
      flex-direction: column;
      &-btn {
        width: 100%;
        padding-left: 15px;
        select {
          width: 100%;
          background-position-x: calc(100% - 30px);
        }
      }
      form {
        margin: 10px 0;
      }
      &-input {
        width: 100%;
      }
    }
  }
}
