.content {
  .product {
    .items {
      gap: 15px;
      margin-left: 69px;
    }
    &__item {
      padding: 35px 20px;
      background-color: $product-bg-color;
      border-radius: 16px;
      width: calc(100% / 3 - 15px);
      box-shadow: 0px 8px 16px $product-shadow-color;
      position: relative;
      overflow: hidden;

      &:hover {
        box-shadow: 0px 8px 16px $product-green-color;
        color: $product-darkgreen-color;
        .product__item-img {
          transform: translateX(-100%);
        }
      }

      &-tag {
        position: absolute;
        right: 10px;
        top: 5px;
        img {
          padding-top: 5px;
        }
      }
      &-img {
        transition: 0.3s;
        img {
          width: 100%;
          padding: 0 20px;
          transform: scale(1.1);
        }
      }
      &-info {
        padding-top: 25px;
      }
    }
    &__page {
      margin: 34px 0 0 60px;
      .dropdown button {
        width: 80px;
        height: 35px;
        font-size: small;
        font-weight: 800;
        border: 1px solid $select-grey;
        background-color: $product-bg-color;
        color: $main-text-color;
        border-radius: 25px;

        img {
          margin-bottom: 3px;
        }
      }

      & .dropdown-toggle::after {
        display: none;
      }
    }
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      border-radius: initial;
      width: 80px;
    }

    #img-page1,
    #img-page2 {
      width: 90px;
      background-color: $select-dark-grey;
      opacity: 20%;
      border-radius: 100px;

      &:hover {
        background-color: $select-green;
        transition: 0.3s;
        opacity: initial;
      }

      img {
        margin-left: 15px;
      }
    }

    li {
      margin-left: 5px;
      margin-right: 5px;
    }
    span {
      font-weight: 800;
    }
    p {
      color: $select-dark-grey;
      display: contents;
    }
    .pagination {
      gap: 15px;
    }
    .page-number {
      border: 1px solid $select-grey;
      border-radius: 25px;
      width: 70px;
      height: 35px;
    }
  }
}
