@include tablet {
  .content {
    .product {
      margin-top: 20px;
      .items {
        margin: 0;
      }
      &__item {
        width: calc(100% / 2 - 15px);
      }
      &__page {
        margin: 34px 0 0 0;
      }
    }
  }
}

@include mobile {
  .content {
    .product {
      &__item {
        width: 100%;
        &-img {
          img {
            padding: 0 100px;
            transform: scale(1.2);
          }
        }
      }

      &__page {
        flex-direction: column;
        align-items: center;
        #img-page1,
        #img-page2 {
          width: 80px;
        }
        .pagination {
          gap: 5px;
        }
        &-select {
          width: 100%;
          .dropdown button {
            width: 100%;
          }
        }
      }
    }
  }
}
