$main-bg-color: #f4f4f4;
$main-text-color: #17181a;
$main-green-color: #73962c;
$main-font: "Lato", sans-serif;
$main-small-font-size: 13px;

$header-bg-color: #ffffff;
$header-bottom-font-size: 15px;

$banner-line-color: #bdbdbe;
$banner-big-font-size: 28px;

$product-bg-color: #ffffff;
$product-shadow-color: rgba(0, 0, 0, 0.08);
$product-green-color: rgba(166, 206, 82, 0.42);
$product-darkgreen-color: #73962c;

$select-grey: #e2e2e2;
$select-dark-grey: #515151;
$select-green: #99c63c;

$filter-color-blue: #2268b4;
$filter-color-number: #bdbdbe;
$filter-color-red: #eb5757;
$filter-color-grey: #515151;
$filter-header-font-size: 17px;
$filter-clear-font-size: 12px;

$footer-top-color-bg: #26282c;
$footer-bottom-color-bg: #000000;
$footer-header-color: #ffffff;
$footer-main-color: #bdbdbe;
$footer-header-font-size: 17px;
$footer-border-input-color: #515151;
$footer-green-color: #99c63c;

$breackpoint_md: 991px;
$breackpoint_sm: 767px;
